{% load static %}{% block footer %}
	<footer>
		<div class="content">
			<div class="logos">
				<ul>
					<li><div id="logo-usm"><img draggable="false" src="{% static 'main/img/white-logo-usm.png' %}" /></div></li>
					<li><div id="logo-uchile"><img draggable="false" src="{% static 'main/img/white-logo-uchile.png' %}" /></div></li>
					<li><div id="logo-alma"><img draggable="false" src="{% static 'main/img/white-logo-alma.png' %}" /></div></li>
					<li><div id="logo-fondef"><img draggable="false" src="{% static 'main/img/white-logo-fondef.png' %}" /></div></li>
					<li><div id="logo-ivoa"><img draggable="false" src="{% static 'main/img/logoIVOA.png' %}" /></div></li>
					<li><div id="logo-reuna"><img draggable="false" src="{% static 'main/img/white-logo-reuna.png' %}" /></div></li>
				</ul>
			</div>
		</div>
	</footer>
{% endblock %}